.carousel{
	position: relative;
	width: 1366px;
	height:425px;
	overflow: hidden;
}
.carousel ul{
	position:absolute;
	width:400%;
	height:430px;
}
.carousel li{
	float:left;
	width:1366px;
	height:430px;
}
.carousel ol{
	position: absolute;
	bottom:15px;
	left:650px;
}
.carousel ol li{
	display: block;
	float: left;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: #fff;
	margin-left: 5px;
	z-index: 10;
	cursor: pointer;
	text-align: center;
	line-height: 17px;
}
.all>ul{
position: absolute;
z-index: 999;
display: block;
}
.message img{
	vertical-align: middle;
}
.message::before{
	content: "";
	display: block;
	clear: both;
}
.message{
	height:474px;
	margin:15px 0;
	background-color: #ccc;
}
.message div{
	float: left;
}
.message .col2{
	width:260px;
}
.message .col3{
	width:557px;
}
.message .col4{
	width:191px;
}
.message img:hover{
	opacity:0.8;
}
.clear{
	clear:both;
}
.floor>ul{
	overflow: hidden;
}
.floor>ul>li{
	margin-bottom:15px;
}
.floor .top{
	height:38px;
	border-bottom: 2px solid #3583c9;
}
.floor .top .left{
	position: relative;
	float: left;
	width:400px;
}
.floor .top .left em{
	float: left;
    display: block;
    background: url("/mySite/home/public/img/ic2.jpg") no-repeat 0 0;
    width: 22px;
    height: 38px;
    padding-top: 0;
    color: #fff;
    font: bold 16px/30px "arial";
    text-indent: 0;
    padding-left: 4px;
    cursor: pointer;
}
.floor .top .title{
	display: inline-block;
	color:#333333;
	font-size: 24px;
	height: 40px;
	line-height: 37px;
	margin-left:30px;
	font-weight: 600;
}
.floor .top .left span{
	position: absolute;
	left: 192px;
	bottom:2px;
	display:block;
	width:145px;
	height:29px;
	background-color: #3583c9;
	text-align: center;
	line-height: 29px;
	border-radius: 9px 9px 0 0;
	color:white;
}
.floor .top .right{
	position: relative;
	float: right;
	margin-top: 12px;
}
.floor .top .right span{
	display: inline-block;
	width:18px;
	height:18px;
	border-radius: 50%;
	background-color: #7a7a7a;
	margin-left: 45px;
}
.floor .top .right a{
	position: absolute;
	right:10px;
	bottom: 4px;
	display: block;
	width:65px;
	height:18px;
	text-align: center;
	background-color: #7a7a7a;
	line-height: 18px;
}
.floor .bottom{
	height:465px;
}
.floor .bottom .left{
	float: left;
	width:192px;
	height:100%;
	border:1px solid #ddd;
}
.floor .bottom .left li{
	height:35px;
	padding: 0 5px;
	background-color: #f7fcfd;
	border-bottom: 1px dotted #ddd;
	line-height: 35px;
}
.floor .bottom .left li.one{
	color:#c9062c;
	text-align: center;
}
.floor .bottom .left li span.bymbol{
	color:#c9062c;
	margin-right: 5px;
}
.floor .bottom .left li span.content{
	color:#000;
}
.floor .bottom .left li span.content:hover{
	color: #c9062c;
	text-decoration: underline;
}
.floor .bottom .right{
	float:left;
	width:1006px;
	height:100%;
}
.floor .bottom .right ul{
	float: left;
	width:813px;
	overflow: hidden;
}
.floor .bottom .right ul li{
	float: left;
	width:270px;
	height:232.5px;
	border-right: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
	background-color: white;
}
.floor .bottom .right .shopimg{
	margin-top: 13px;
}
.floor .bottom .right .shopimg img{
	display: block;
	width:150px;
	height:150px;
	margin: 0 auto;
}
.floor .bottom .right h6{
    display: block;
	white-space: normal;
	line-height: 16px;
	overflow: hidden;
	height: 32px;
	padding-left:15px;
	font-weight: 500;
	color:#000;
}
.floor .bottom .right h6:hover{
	color:#c9062c;
	text-decoration: underline;
}
.floor .bottom .right em{
	font-style: normal;
}
.floor .bottom .right em.price1{
	margin-left: 15px;
	color:#ef0000;
	font-weight: 600;
}
.floor .bottom .right em.price2{
	color:#999;
	font-size:12px;
	text-decoration: line-through;
}
.floor .bottom .right .publicity{
	float: right;
	background-color: #ccc;
}
.floor .bottom .right .publicity:hover img{
	opacity: 0.8;
}