body,header,nav,section,footer,ul,ol,li,a,span,p,h1,h2,h3,h4,h5,h6,input,form,button,dl,dt,dd,div,i,img{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑";
	font-size: 14px;
}
a{
	text-decoration: none;
	color:#fff;
}
ul,ol{
	list-style: none;
}
i{
	font-style: normal;
	display: block;
}
header{
	height: 133px;
}
nav{
	height: 35px;
	background-color: #3583c9;
}
section{
	background-color: #f8f8f8;
}
footer{
	height: 393px;
	background-color: #ccc;
	margin-top: 50px;
	border-top: 1px solid #ddd;
}
.main{
	width:1200px;
	margin: 0 auto;
}
.headerTop{
	height: 26px;
	background-color: #f7f7f7;
}
.headerTopLeft{
	position:relative;
	width: 200px;
	float: left;
}
.headerTopLeft i{
	position:absolute;
	top:7px;
	width:20px;
	height:20px;
	background: url("/mySite/home/public/img/bg1.gif") 0 -34px no-repeat;
}
.headerTopRight{
	position: relative;
	width: 404px;
	float: right;
}
.headerTop a{
	color:#676767;
	font-size: 12px;
	line-height: 26px;
}
.headerTop a:hover{
	color:#C9062C;
	text-decoration: underline;
}
.headerCollect{
	margin-left:21px;
	margin-right:15px;
}
span.caret{
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
span.Rcaret{
	display: inline-block;
	width: 0;
	height: 0;
	border-top:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #000;
	margin-left: 5px;
}
.headerTopRight span.greet{
	color:#676767;
	font-size: 12px;
}
.headerTopRight a.logon{
	color:#C9062C;
	text-decoration: underline;
	margin-left:5px;
}
.headerTopRight a.mine{
	margin-left: 15px;
}
.headerTopRight div{
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 0 15px 5px 9px;	
	z-index: 999;
}
.headerTopRight div ul{
	display:none;
}
.headerTopRight div:hover ul{
	display:block;
}
.headerTopRight div:hover{
	background-color: #fff;
	border: 1px solid #ddd;
	border-top:none;
}
.headerBottom img.logo{
	float:left;
	margin-top:24px;
}
.headerBottom .middle{
	position: relative;
	float:left;
	padding-top: 32px;
	padding-left: 155px;
}
.headerBottom .seek{
	width:500px;
	height:31px;
	border:2px solid #3584c9;
}
.headerBottom .seek a{
	display: block;
	width:80px;
	height:100%;
	float: right;
	background-color: #3584c9;
	text-align: center;
	line-height: 31px;
	font-size: 17px;
}
.headerBottom .seek input{
	width:405px;
	height:31px;
	border:none;
	padding-left: 15px;
}
.headerBottom .hot{
	color:rgb(153,153,153);
	font-size: 12px;
}
.headerBottom ul{
	position:absolute;
	left:223px;
	bottom:0;
}
.headerBottom li{
	float:left;

}
.headerBottom li a{
	color:rgb(119,119,119);
	font-size: 12px;
	margin-right: 15px;
}
.headerBottom li a:hover{
	color:rgb(201,6,44);
	text-decoration: underline;
}
.headerBottom a.close{
	position: relative;
	float:right;
	margin-top:40px;
	width:126px;
	height:32px;
	background-color: #f7f7f7;
	line-height: 32px;
}
.headerBottom span.settle{
	color:#333;
	margin-left: 24px;
	font-size: 13px;
}
.headerBottom a.close i{
	position: absolute;
	left: -2px;
	top: 5px;
	display: block;
	width:26px;
	height: 20px;
	background: url("/mySite/home/public/img/shop.png");
}
.all{
	float:left;
	width:190px;
	height:35px;
	line-height: 35px;
	text-align: center;
	background-color: #17558c;
}
ul.nav{
	float:left;
}
ul.nav li{
	float:left;
	line-height: 35px;
	padding: 0 17px;
}
ul.nav li:hover{
	background-color: #17558c;
}
.all .caret{
	color:white;
}
.all>ul{
	position:absolute;
	height:425px;
	background-color:rgba(53,131,201,0.8);
	display: none;
}
.all:hover ul{
	display: block;
	z-index: 999;
}
.all .item{
	width: 190px;
	height:85px;
	padding: 0px 0px 10px 10px;
	box-sizing:border-box;
	text-align: left;
	border-bottom:1px solid #286fae;
}
.all .item:hover{
	background-color: #fff;
}
.all .item:hover .right{
	display: block;
}
.all .item:hover h4 a{
	color:#3583c9;
}
.all .item:hover p a{
	color: #333;
	font-weight: 500;
}
.all .item p{
	line-height: 22px;
	font-size: 12px;
}
.all .item p a{
	float: left;
	display: block;
	margin-right: 10px;
}
.all .item .left{
	position: relative;
}
.all .item .right{
	position:absolute;
	left:180px;
	top:0;
	width: 207px;
	background-color: white;
	display: none;
	border: solid 1px #bcbcbc;
	box-shadow: 1px 1px 8px #999;
}
.all .item .right ul{
	width:170px;
	margin: 0 auto;
}
.all .item .right li{
	border-bottom: 1px solid #e2e2e2;
	color:#000;
	padding-left:15px;
}
.all .item .right li a{
	color:#000;
	font-size: 13px;
}
.all .item a:hover{
	text-decoration: underline;
}
.all .item .right li a:hover{
	color:rgb(201,6,44);
}
.none{
	display: none;
}
.footerTop{
	height:150px;
	padding: 15px 0;
}
.footerTop li{
	float: left;
	width:150px;
	height:150px;
	border-right:1px solid #eee;
	padding-left: 40px;
}
.footerTop h4{
	padding: 8px 0;
}
.footerTop p{
	line-height: 24px;
}
.footerTop p a{
	color:#666;
}
.footerTop p a:hover{
	color:rgb(201,6,44);
	text-decoration: underline;
}
.footerMiddle{
	height:80px;
}
.footerMiddle li{
	float: left;
	padding: 0 42px;
	background-color: #f3f3f3;
}
.footerBottom::before{
	content:"";
	display: block;
	clear: both;
}
.footerBottom{
	height:130px;
	text-align: center;
}
.footerBottom p{
	line-height: 26px;
	color:#666;
	font-size: 13px;
}
.clear{
	clear:both;
}