div,img,p,a,ul,li,ol,h1,h2,h3,h4,h5,h6,span,i,body,input,form,button,dl,dt,dd{
	margin:0;
	padding:0;
}
body{
	font-family:"Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
	font-size:12px;
}
ul{
	list-style:none;
}
.topBox{
	position:relative;
	min-width:1190px;
	height:120px;
	background-color:#ff9600;
}
.topBox a{
	display:block;
	width:100%;
	height:100%;
}
.main{
	width:1190px;
	margin:0 auto;
	overflow:hidden;
}
.topBox i{
	position:absolute;
	top:3px;
	right:50px;
	width:17px;
	height:17px;
	line-height:17px;
	text-align:center;
	background-color:#b26800;
	color:white;
	font: 16px/16px simsun;
}
nav{
	width:100%;
	height:35px;
	background-color:#f5f5f5;
}
nav .left{
	float:left;
	position:relative;
}
nav .left .home{
	display:inline-block;
	width:70px;
	height:35px;
	text-decoration:none;
}
nav .left .home i{
	float:left;
	display:block;
	width:18px;
	height:20px;
	background:url("../images/home.png");
	margin-top:8px;
}
nav .left .home span{
	display:block;
	float:right;
	color:#666666;
	margin-top:10px;
}
nav .left>ul{
	position:absolute;
	top:0;
	left:70px;
	list-style:none;
	width:260px;
	height:35px;
}
nav .left>ul>li{
	float:left;
	position:relative;
}
nav .left>ul>li>a{
	display:block;
	width:86px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#666;
	text-decoration:none;
}
nav .left>ul>li i{
	display:block;
	width:32px;
	height:23px;
	transform:scale(0.5);
	float:right;
	margin-top: 8px;
    margin-left: -20px;
	background:url("../images/jiantou.png");
}
nav .left .sitNav{
	position:absolute;
	width:985px;
	display:none;
}
nav .left .sitNav dl{
	position:relative;
	float:left;
	width: 176px;
    border-right: 1px solid #eee;
    padding-left: 20px;
	margin-top:20px;
}
nav .left .sitNav dl dt{
	height: 25px;
    width: 100%;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    line-height: 17px;
}
nav .left .sitNav dl dd{
	display:inline-block;
	width: 76px;
    height:24px;
}
nav .left .sitNav dl span{
	position:absolute;
	right:1px;
	top:-19px;
	display:block;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:38px;
	float:right;
	cursor:pointer;
}
nav .left .merchant{
	position:absolute;
	width:162px;
	height:95px;
	display:none;
}
nav .left .merchant ul,nav .left .serve ul{
	margin-top:3px;
}
nav .left .merchant li,nav .left .serve li{
	float:left;
	width:80px;
	height:30px;
	line-height:30px;
}
nav .left .serve{
	position:absolute;
	width:162px;
	margin-left:-74px;
	display:none;
}
nav .right{
	float:right;
}
nav .right>ul{
	height:35px;
}
nav .right>ul>li{
	float:left;
}
nav .right>ul>li>a{
	display:block;
	width:83px;
	height:35px;
	text-decoration:none;
	color:#666;
	line-height:35px;
	text-align:center;
}
nav .right .register{
	position:relative;
	color:#fc7c4c;
}
nav .right .register img{
	position:absolute;
	top:1px;
	left:-14px;
	display: block;
    margin-top: 8px;
    margin-left: 8px;
}
nav .right>ul>li>a>i{
	display:block;
	width:32px;
	height:23px;
	transform:scale(0.5);
	float:right;
	margin-top: 8px;
    margin-left: -20px;
	background:url("../images/jiantou.png");
}
nav .right .indent{
	position:absolute;
	display:none;
}
nav .right .indent li{
	height:30px;
	line-height:30px;
	width:83px;
	padding-left:12px;
}
nav .right .personage{
	position:absolute;
	width:206px;
	display:none;
}
nav .right .personage img{
	position:absolute;
	top:8px;
	left:0;
}
nav .right .personage>a{
	position:absolute;
	top:17px;
	left:87px;
	text-decoration:none;
	color:#666;
}
nav .right .personage .btn{
	top:37px;
	left:86px;
	background-color:#ff6600;
	width:65px;
	height:24px;
	border-radius:2px;
	text-align:center;
	line-height:24px;
	color:white;
}
nav .right .personage ul{
	margin-top:75px;
	overflow:hidden;
}
nav .right .personage li{
	float:left;
	width:100px;
}
nav .right .personage li a{
	width:70px;
	height:30px;
	line-height:30px;
	color:#666;
	text-decoration:none;
}
nav .right .shopping{
	position:absolute;
	width:280px;
	height:400px;
	text-align:center;
	display:none;
}
nav .right .shopping i{
	display: block;
    width: 150px;
    height: 96px;
    margin: 110px auto 20px;
	background:url("../images/sidebar.png") no-repeat 0 -291px;
}
nav .right .shopping h5,nav .right .shopping h6{
	color:#666;
	font-weight:100;
	font-size:14px;
}
nav .right .shopping h6{
	margin-top:20px;
	font-size:10px;
}
nav .right .shopping a{
	display:block;
	background-color:#ff6600;
	width:65px;
	height:24px;
	border-radius:2px;
	text-align:center;
	line-height:24px;
	color:white;
	margin:0 auto;
}
nav .right .relation{
	position:absolute;
	width:540px;
	height:220px;
	margin-left:-457px;
	display:none;
}
nav .right .relation ul{
	overflow:hidden;
	text-align:center;
}
nav .right .relation ul li{
	float:left;
	width:180px;
	height:220px;
}

nav .right .relation img{
	width:144px;
	height:144px;
}
nav .right .relation img.aoyun{
	width:151px;
	height:16px;
	margin-top:3px;
}
.banner{
	min-width:1190px;
	height:148px;
}
.banner .left{
	float:left;
	width:190px;
	height:100%;
}
.banner .left img{
	width:190px;
	height:100px;
}
.banner .left a{
	position:relative;
	display:block;
	width:159px;
	height:39px;
	margin-top:6px;
	background-color:#ff9900;
	text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding-left: 30px;
}
.banner .left a i{
	position:absolute;
	top: 14px;
    left: 9px;
	display:block;
	width: 12px;
    height: 12px;
    background:url("../images/newbg.png");
}
.banner .left a p{
	height:39px;
	line-height:39px;
}
.banner .middle{
	position:relative;
	float:left;
	width:760px;
	height:148px;
}
.banner .middle>img{
	position:absolute;
	top:5px;
	left:5px;
}
.banner .middle-top{
	width:553px;
	height:70px;
	margin:27px 0 0 195px;
}
.banner .middle-top-top{
	position:relative;
	width: 524px;
	padding: 0 0 0 28px;
	border: 2px solid #FA0;
	border-right: none;
}
.banner .middle-top-top i{
	position:absolute;
	top:10px;
	left:5px;
	display:block;
	width:20px;
	height:20px;
	background-image:url("../images/sousu.png");
}
.banner .middle-top-top .text{
	width: 410px;
    padding: 9px 10px 9px 0;
    height: 18px;
    line-height: 18px;
	border: none;
	background: #FFF;
	font-size: 12px;
	color:#cccfda;
    font-family: 'MicroSoft YaHei';
}
.banner .middle-top-top .submit{
	width: 100px;
    height: 36px;
    padding: 0;
    font-size: 14px;
    font-family: 'MicroSoft YaHei';
    font-weight: bold;
    letter-spacing: 2px;
    text-indent: 2px;
    color: #FFF;
    border: 0;
    cursor: pointer;
	background-color:#FA0;
}
.banner .middle-top-bottom{
	height:18px;
	margin-top:7px;
}
.banner .middle-top-bottom a{
	display:inline-block;
	margin-right:10px;
	text-decoration:none;
	color:#666;
}
.banner .middle-top-bottom .register{
	color:#ff6600;
}
.banner .middle-bottom{
	height:40px;
	margin-top:10px;
}
.banner .middle-bottom ul{
	overflow:hidden;
}
.banner .middle-bottom ul li{
	float:left;
	color:#333333;
	height: 40px;
    line-height: 40px;
}
.banner .middle-bottom ul a{
	display:block;
	width:90px;
	height:40px;
	text-decoration:none;
	color:#333333;
	line-height: 40px;
    text-align: center;
	font-size: 14px;
}
.banner .right{
	float:left;
	width:240px;
	height:148px;
}
.banner .right img{
	display:block;
	margin-left:82px;
	margin-top:25px;
}
/*第一栏*/
.first-screen{
	height:480px;
	background-color:#eee;
	overflow:hidden;
}
.first-screen .left{
	float:left;
	width:190px;
	height:470px;
}
.first-screen .left>ul>li{
	position:relative;
	float:left;
	width:190px;
	height:60px;
	background-color:white;
}
.first-screen .left>ul>li img{
	display:block;
	position:absolute;
	top:11px;
	left:3px;
}
.first-screen .left>ul>li p{
	margin:11px 0;
	padding-left:25px;
}
.first-screen .left>ul>li p a{
	display:block;
	text-decoration:none;
	color:black;
}
.first-screen .left>ul>li i{
	position:absolute;
	top:10px;
	right:3px;
	display:black;
	width:20px;
	height:20px;
	background-image:url("../images/rightjiantou.png");
}
.first-screen .left>ul>li>a{
	text-decoration:none;
	color:#666;
	margin-left:6px;
}
.first-screen .left>ul>li>a.heterochrome{
	color:#ff9901;
}
.first-screen .left>ul>li>a.one{
	margin-left:20px;
}
.first-screen .left .halving-line{
	width:170px;
	border:0.3px solid #dddddd;
	margin:4px auto;
}
.first-screen .left .classify{
	position:absolute;
	top:0;
	left:190px;
	width:763px;
	background-color:white;
	display:none;
}
.first-screen .left .classify-left{
	float:left;
	width:126px;
}
.first-screen .left .classify-left li a{
	display:block;
	width:100%;
	height:58px;
	line-height:58px;
	text-align:center;
	text-decoration:none;
	color:black;
}
.first-screen .left .classify-right{
	float:left;
	width:637px;
}
.first-screen .left .classify-right li{
	height:57px;
	width:606px;
	border-bottom:1px solid #dddddd;
}
.first-screen .left .classify-right li a{
	display:inline-block;
	height:57px;
	line-height:57px;
	margin-right:9px;
	text-decoration:none;
	color:#6a6a6a;
}
.first-screen .left .classify-right li a.heterochrome{
	color:#ff9901;
}
.first-screen .middle{
	float:left;
	width:758px;
	height:470px;
}
.first-screen .middle-top{
	position:relative;
	height:360px;
}
.first-screen .middle-top ul li{
	position:absolute;
}
.first-screen .middle-top .btn{
	position:absolute;
	left:50%;
	bottom:20px;
	margin-left:-45px;
	width:90px;
	height:17px;
}
.first-screen .middle-top .btn span{
	display:inline-block;
	width:9px;
	height:9px;
	border-radius:50%;
	background-color:white;
	cursor:pointer;
}
.first-screen .middle-bottom img{
	float:left;
}
.first-screen .right{
	float:left;
}
.first-screen .right>img{
	vertical-align: middle;
	width:242px;
}
.first-screen .right .recommend{
	position:relative;
	width:242px;
	height:314px;
}
.first-screen .right .recommend li{
	position:absolute;
}
.first-screen .right .recommend li img{
	width:242px;
	height:314px;
}
.first-screen-right-btn{
	position:absolute;
	left:50%;
	bottom:10px;
	margin-left:-25px;
	width:50px;
}
.first-screen-right-btn span{
	display:inline-block;
	width:9px;
	height:9px;
	background-color:white;
	border-radius:50%;
	margin-right:3px;
	cursor:pointer;
}
/*第二栏*/
.second-screen{
	height:350px;
	background-color:#e9e9e9;
}
.second-screen .top{
	height:66px;
}
.second-screen-top-left{
	float:left;
	width:340px;
	height:30px;
	margin-top:25px;
}
.second-screen-top-left .icon{
	float:left;
	width:20px;
	height:20px;
	margin:6px;
	background:url("../images/chaoshi.png") -464px 0;
}
.second-screen-top-left h3{
	float:left;
	font-size: 17px;
    margin-top: 3px;
    margin-left: 5px;
}
.second-screen-top-left .text{
	float:left;
	margin-top: 7px;
    margin-left: 9px;
	color:#333;
}
.second-screen-top-left div{
	float:left;
	width:100px;
	height:20px;
	margin-top:5px;
	margin-left: 12px;
}
.second-screen-top-left div em{
	display:inline-block;
	width:26px;
	height:20px;
	background-color:black;
	color:white;
	font-weight:600;
	font-size:14px;
	border-radius:1px;
	text-align:center;
	line-height:20px;
	font-style: normal;
}
.second-screen-top-left div i{
	display:inline-block;
	text-align:center;
	line-height:20px;
	font-style: normal;
}
.second-screen-top-right{
	float:right;
	width:123px;
	height:22px;
	margin-top:32px;
}
.second-screen-top-right a{
	display: block;
	width:98px;
	height:19px;
    text-align: center;
    line-height: 19px;
	text-decoration:none;
	color:#666;
	border: 1px solid;
    border-radius: 12px;
}
.second-screen .bottom{
	position:relative;
	height:284px;
}
.second-screen .bottom>ul{
	position:relative;
}
.second-screen .bottom>ul>li{
	position:absolute;
	width:100%;
	height:284px;
}
.second-screen .bottom ul.shop1{
	overflow:hidden;
}
.second-screen .bottom ul.shop1 li{
	position:relative;
	float:left;
	width:198px;
	height:284px;
	background-color:white;
}
.second-screen .bottom ul.shop1 li img{
	width:140px;
	height:140px;
	margin:10px 29px;
}
.second-screen .bottom ul.shop1 li p.name{
	width: 178px;
    height: 32px;
    font: 12px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 0 10px 10px;
	color:#333;
}
.second-screen .bottom ul.shop1 li p.price{
	padding-left:10px;
}
.second-screen .bottom ul.shop1 li p.price i{
	font-style: normal;
	color:#f40;
}
.second-screen .bottom ul.shop1 li p.price span{
	color:#f40;
	font-size: 16px;
    font-weight: 600;
}
.second-screen .bottom ul.shop1 li p.price-high{
	padding-left:10px;
	color:#999999;
	font-size: 13px;
}
.second-screen .bottom ul.shop1 li p.price-high span{
	margin-left:3px;
	color:#999;
	text-decoration: line-through;
	font-size: 12px;
}
.second-screen .bottom ul.shop1 li p.progress{
	margin-top:10px;
	padding-left:10px;
	color:#999;
}
.second-screen .bottom ul.shop1 li p.progress span{
	float:right;
	display:block;
	width: 88px;
	height: 10px;
	margin-right:20px;
	background-color:#ffe7e7;
	border: 1px solid #ff8484;
	overflow: hidden;
	border-radius:5px;
}
.second-screen .bottom ul.shop1 li p.progress span i{
	display: block;
	height: 10px;
	width:8%;
	background-color: #ff8484;
}
.second-screen .bottom ul.shop1 li p.cartBtn{
	position:absolute;
	width: 28px;
    height: 28px;
    bottom: 42px;
    right: 20px;
    cursor: pointer;
	background:url("../images/chaoshi.png") -186px -44px;
}
.btn-left{
	position:absolute;
	left:0;
	top:50%;
	width:24px;
	height:60px;
	margin-top:-30px;
	background:url("../images/chaoshi.png") -26px -78px;
	cursor:pointer;
	opacity:0.8;
}
.btn-right{
	position:absolute;
	right:0;
	top:50%;
	width:24px;
	height:60px;
	margin-top:-30px;
	background:url("../images/chaoshi.png") 0 -78px;
	cursor:pointer;
	opacity:0.8;
}
/*第三栏*/
.third-screen{
	background-color:#eeeeee;
	padding-bottom: 15px;
}
.third-screen .one{
	height:66px;
}
.third-screen .one p.icon{
	float: left;
    width: 20px;
    height: 20px;
	margin: 30px 10px 12px 6px;
	background:url("../images/chaoshi.png") -438px -104px;
}
.third-screen .one p.text{
	float: left;
    font: bold 18px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #333;
    margin-top: 27px;
    margin-right: 10px;
}
.third-screen .two .top{
	height:80px;
}
.third-screen .two .top ul li{
	float:left;
	width:91px;
	height:80px;
	background-color:#ff5d5d;
}
.third-screen .two .top ul li p.icon{
	width: 42px;
    height: 42px;
    margin:10px 0 6px 24px;
	background:url("../images/chaoshi.png");
}
.third-screen .two .top ul li p.text{
	width: 91px;
    height: 16px;
    color: #fff;
    text-align: center;
    font: 12px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    overflow: hidden;
}
.third-screen .two .top ul li p.icon1{
	background-position:-274px 0;
}
.third-screen .two .top ul li p.icon2{
	background-position:-230px 0;
}
.third-screen .two .top ul li p.icon3{
	background-position:-272px -88px;
}
.third-screen .two .top ul li p.icon4{
	background-position:-272px -44px;
}
.third-screen .two .top ul li p.icon5{
	background-position:-316px -88px;
}
.third-screen .two .top ul li p.icon6{
	background-position:-96px -78px;
}
.third-screen .two .top ul li p.icon7{
	background-position:-184px -78px;
}
.third-screen .two .top ul li p.icon8{
	background-position:-228px -44px;
}
.third-screen .two .top ul li p.icon9{
	background-position:-140px -78px;
}
.third-screen .two .top ul li p.icon10{
	background-position:-186px 0;
}
.third-screen .two .top ul li p.icon11{
	background-position:-228px -88px;
}
.third-screen .two .top ul li p.icon12{
	background-position:-316px -44px;
}
.third-screen .two .top ul li p.icon13{
	background-position:-52px -78px;
}
.third-screen .two .bottom>ul{
	position:relative;
	height:640px;
}
.third-screen .two .bottom>ul>li{
	position:absolute;
}
.third-screen .two .bottom ul.show{
	overflow:hidden;
}
.third-screen .two .bottom ul.show li{
	position:relative;
	float:left;
	width:237px;
	height:319px;
	margin-right: 1px;
    margin-bottom: 1px;
	background-color:white;
}
.third-screen .two .bottom ul.show li a{
	width:100%;
	height:100%;
	text-decoration:none;
}
.third-screen .two .bottom ul.show li img{
	display: block;
    width: 190px;
    height: 190px;
    margin: 20px 24px;
}
.third-screen .two .bottom ul.show li p.name{
	width: 206px;
    height: 32px;
    font: 12px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 14px;
	color:#333;
}
.third-screen .two .bottom ul.show li p.price{
    color: #f40;
    margin-left: 20px;
}
.third-screen .two .bottom ul.show li p.price i{
	font-size:10px;
	font-style:normal;
}
.third-screen .two .bottom ul.show li p.price span{
	font-size:15px;
	font-weight:600;
}
.third-screen .two .bottom ul.show li p.cartBtn{
	position: absolute;
    right: 20px;
    bottom: 18px;
	width: 28px;
    height: 28px;
    cursor: pointer;
	background:url("../images/chaoshi.png") -186px -44px;
}
.third-screen .two .bottom ul.show li p.prize{
	position: absolute;
	left: 10px;
    top: 10px;
	width: 48px;
    height: 60px;
}
.third-screen .two .bottom ul.show li p.prize1{
	background:url("../images/chaoshi.png");
	background-position:-693px 0;
}
.third-screen .two .bottom ul.show li p.prize2{
	background:url("../images/chaoshi.png");
	background-position:-693px -62px;
}
.third-screen .two .bottom ul.show li p.prize3{
	background:url("../images/chaoshi.png");
	background-position:-743px 0;
}
.third-screen .three{
	position:relative;
	margin-top:20px;
	height:570px;
}
.third-screen .three .img1{
	position:absolute;
	left:0;
	top:0;
	width:298px;
	height:380px;
}
.third-screen .three .img2{
	position:absolute;
	left:298px;
	top:0;
	width:298px;
	height:190px;
}
.third-screen .three .img3{
	position:absolute;
	left:298px;
	top:190px;
	width:298px;
	height:190px;
}
.third-screen .three .img4{
	position:absolute;
	left:596px;
	top:0;
	width:298px;
	height:380px;
}
.third-screen .three .img5{
	position:absolute;
	left:894px;
	top:0px;
	width:298px;
	height:190px;
}
.third-screen .three .img6{
	position:absolute;
	left:894px;
	top:190px;
	width:298px;
	height:190px;
}
.third-screen .three .img7{
	position:absolute;
	left:0px;
	top:380px;
	width:298px;
	height:190px;
}
.third-screen .three .img8{
	position:absolute;
	left:298px;
	top:380px;
	width:298px;
	height:190px;
}
.third-screen .three .img9{
	position:absolute;
	left:596px;
	top:380px;
	width:298px;
	height:190px;
}
.third-screen .three .img10{
	position:absolute;
	left:894px;
	top:380px;
	width:298px;
	height:190px;
}
.third-screen .four{
	height:100px;
	margin-top:20px;
}
.third-screen .five .top{
	height:66px;
}
.third-screen .five .top p.icon{
	float: left;
    width: 20px;
    height: 20px;
    margin: 30px 10px 12px 6px;
    background: url(../images/chaoshi.png) -438px -104px;
}
.third-screen .five .top p.text{
	float: left;
    font: bold 18px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #333;
    margin-top: 27px;
    margin-right: 10px;
}
.third-screen .five .top span{
	float:left;
	position:relative;
	display: block;
    width: 21px;
    height: 21px;
    margin-top: 30px;
	cursor: pointer;
	background:url("../images/chaoshi.png") -490px 0;
}
.third-screen .five .top div{
	position:absolute;
	top: 31px;
    left: -50px;
	width: 94px;
    height: 112px;
	padding: 10px 14px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px #666;
	text-align:center;
	display:none;
}
.third-screen .five .top div:before{
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    margin-top: -7px;
    margin-left: 53px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}
.third-screen .five .top div img{
	width: 94px;
    height: 94px;
}
.third-screen .five .top div p{
	color:rgba(102,102,102,0.99);
	height: 18px;
	line-height: 18px;
}
.third-screen .five>ul>li{
	overflow:hidden;
}
.third-screen .five>ul>li .left{
	float:left;
	width:190px;
	height:500px;
}
.third-screen .five>ul>li .right{
	float:left;
	width:1000px;
	height:500px;
}
.third-screen .five>ul>li .right ul.show{
	width:1000px;
	height:500px;
}
.third-screen .five>ul>li .right ul.show li{
	position:relative;
	float:left;
	width:199px;
	height:249px;
	margin: 0 1px 1px 0;
	background-color:white;
}

.third-screen .five ul.show li a{
	width:100%;
	height:100%;
	text-decoration:none;
}
.third-screen .five ul.show li img{
	display: block;
    width: 140px;
    height: 140px;
    margin: 10px 30px;
}
.third-screen .five ul.show li p.name{
	width: 206px;
    height: 32px;
    font: 12px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 14px;
	color:#333;
}
.third-screen .five ul.show li p.price{
    color: #f40;
    margin-left: 20px;
}
.third-screen .five ul.show li p.price i{
	font-size:10px;
	font-style:normal;
}
.third-screen .five ul.show li p.price span{
	font-size:15px;
	font-weight:600;
}
.third-screen .five ul.show li p.cartBtn{
	position: absolute;
    right: 20px;
    bottom: 18px;
	width: 28px;
    height: 28px;
    cursor: pointer;
	background:url("../images/chaoshi.png") -186px -44px;
}
.third-screen .five .second .left{
	position:relative;
	width:590px;
}
.third-screen .five .second .left div{
	position:absolute;
	right:2px;
	top:4px;
	width:398px;
	height:491px;
}
.third-screen .five .second .left div img.img1{
	position:absolute;
	left:0;
	top:0;
	width:396px;
	height:246px;
}
.third-screen .five .second .left div img.img2{
	position:absolute;
	left:0;
	top:248px;
	width:197px;
	height:243px;
}
.third-screen .five .second .left div img.img3{
	position:absolute;
	left:199px;
	top:248px;
	width:197px;
	height:243px;
}
.third-screen .five .second .right{
	width:600px;
}
.third-screen .five .second .right ul.show{
	width:600px;
}
.third-screen .five .second .left ul{
	position:absolute;
	bottom:20px;
	left:18px;
	width:162px;
	overflow:hidden;
}
.third-screen .five .second .left ul li{
	float: left;
    width: 71px;
    height: 22px;
    text-align: center;
    border-radius: 100px;
    margin: 0 10px 10px 0;
}
.third-screen .five .second .left ul li a{
	display: block;
    line-height: 22px;
    color: #fff;
	border-radius: 100px;
	text-decoration:none;
	background:url("../images/chaoshi.png") -542px 0;
}
.third-screen .six .top{
	height: 66px;
}
.third-screen .six .top p.icon{
	float: left;
    width: 20px;
    height: 20px;
    margin: 30px 10px 12px 6px;
    background: url(../images/chaoshi.png) -438px -52px;
}
.third-screen .six .top p.text{
	float: left;
    font: bold 18px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #333;
    margin-top: 27px;
    margin-right: 10px;
}
.third-screen .six .bottom .show{
	width:1190px;
	overflow:hidden;
}
.third-screen .six .bottom .show li{
	position: relative;
    float: left;
    width: 237px;
    height: 319px;
    margin: 0 1px 1px 0;
    background-color: white;
}
.third-screen .six .bottom .show li a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.third-screen .six .bottom .show li img{
	width: 190px;
    height: 190px;
    margin: 20px 24px;
}
.third-screen .six .bottom .show li p.name{
	width: 206px;
    height: 32px;
    font: 12px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-left: 20px;
    margin-bottom: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
	color:#333;
}
.third-screen .six .bottom .show li p.price{
	color: #f40;
    margin-left: 20px;
}
.third-screen .six .bottom .show li p.price i{
	font-size: 10px;
    font-style: normal;
}
.third-screen .six .bottom .show li p.price span{
	font-size: 15px;
	font-weight:600;
}
.third-screen .six .bottom .show li p.cartBtn{
	position: absolute;
    right: 20px;
    bottom: 18px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background: url(../images/chaoshi.png) -186px -44px;
}
footer{
	height:279px;
	background-color:#f5f5f5;
}
footer .top{
	height:98px;
	padding-top:12px;
	border-bottom: 1px solid #eaeaea;
}
footer .top ul{
	height:100%;
}
footer .top ul li{
	position:relative;
	float:left;
	width:238px;
	height:100%;
}
footer .top ul li img{
	position:absolute;
	top:5px;
	left:5px;
}
footer .top ul li h3,footer .top ul li p{
	padding-left:58px;
}
footer .bottom{
	height:180px;
}
footer .bottom dl{
	float:left;
	width:198px;
	height:180px;
}
footer .bottom dl dt{
	margin:10px 0;
	font-size: 14px;
    font-weight: 600;
	color:#545454;
}
footer .bottom dl dd{
	height:20px;
	color:#545454;
}
.introduce{
	text-align:center;
	padding-top:10px;
}
.introduce p{
	color:#666;
	height:25px;
	line-height:25px;
}
.introduce .address{
	color:#999;
	height:25px;
	line-height:25px;
}
.introduce .address i{
	display: inline-block;
	position: relative;
    top: 5px;
	left:-4px;
    width: 20px;
    height: 20px;
	background:url("../images/gwab-icon.png");
}
/*左侧导航*/
.Lsidebar{
	position:fixed;
	top:50%;
	left:3px;
	margin-top:-232px;
	width:70px;
	height:464px;
}
.Lsidebar .img{
	position: absolute;
	left: 13px;
    top: -29px;
	width:45px;
	height:37px;
	background:url("../images/index.png") -302px -80px;
}
.Lsidebar ul li{
	width:68px;
	height:28px;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
    line-height: 28px;
}
.Lsidebar ul li a{
	text-decoration: none;
    color: #333;
    font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.Lsidebar .top{
	width: 68px;
    height: 18px;
	background:url("../images/index.png") -230px -183px;
}
.Rsidebar{
	position:fixed;
	top:0;
	right:0;
	width:35px;
	height:100%;
	background-color:#383838;
}
.Rsidebar span,.Rsidebar i{
	display:block;
}
.Rsidebar .tou{
	width:35px;
	height:30px;
	margin-top:178px;
	background:url("../images/sidebaricon.png") 0 0;
}
.Rsidebar a{
	display:block;
	text-decoration:none;color:white;
	width:35px;
	height:117px;
	text-align:center;
}
.Rsidebar a span{
	width:13px;
	margin-left: 11px;
}
.Rsidebar a .one{
	width:29px;
	height:30px;
	margin-left: 3px;
	background:url("../images/sidebaricon.png") 0 -210px;
}
.Rsidebar a .two{
	width: 17px;
    margin: 0 auto;
    font-style: normal;
	height:15px;
	padding: 0 2px;
    background-color: #D00;
	line-height: 15px;
    border-radius: 5px;
}
.Rsidebar .xiaoxi{
	width:35px;
	height:30px;
	background:url("../images/sidebaricon.png") 0 -23px;
}
.Rsidebar .licai{
	width:35px;
	height:30px;
	background:url("../images/sidebaricon.png") 0 -47px;
}
.Rsidebar .zuji{
	width:35px;
	height:30px;
	background:url("../images/sidebaricon.png") 0 -70px;
}
.Rsidebar .qiandao{
	width:35px;
	height:30px;
	background:url("../images/sidebaricon.png") 0 -93px;
}
.Rsidebar .erweima{
	width:35px;
	height:30px;
	margin-top:43px;
	background:url("../images/sidebaricon.png") 0 -163px;
}
.Rsidebar .erweima img{
	position:absolute;
	left:0;
	width:136px;
	height:136px;
	top:-68px;
	display:none;
}
.Rsidebar .erweima i{
	position:absolute;
	top: 5px;
    width: 7px;
    height: 20px;
	left: 0;
	background:url("../images/sidebaricon.png") -38px -219px;
	display:none;
}
.Rsidebar .fanhui{
	width:35px;
	height:30px;
	background:url("../images/sidebaricon.png") 0 -186px;
}
.Rsidebar .box{
	position:relative;
}
.Rsidebar .box p{
	position:absolute;
	right:0;
	width:29px;
	height:30px;
	line-height:30px;
	background-color:#ffaa01;
	padding-left:7px;
	z-index:10;
	display:none;
}

